name: Test
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go environment
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.17.0"
      - name: Build
        run: |
          export CGO_ENABLED=0
          go build main.go
      - name: Test
        run: go test
